#Main {
    position: relative;
    width: 1750px;
    height: 900px;
}

#Main.canMove {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}
#Main.inMove {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
